$MAX_WIDTH: 1200px;
$header_background: #117FC3;
$main-orange: #FDAA18;
$main-black: #222D39;
$main-blue: #117EC2;
$main-gray: #898C90;
$footer-background: #F5F5F5;
$white: #fff;
$black: #000;


$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;
